get:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
post:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
put:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
patch:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
delete:
  summary: Delete User Account.
  description: Delete an User Account.
  operationId: DeleteUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\..\modules\core\schemas\success\200.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
head:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
options:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
trace:
  summary: Get User Account.
  description: Get an User Account.
  operationId: GetUserAccount
  tags:
    - AccountV2
  parameters:
    - $ref: >-
        ..\components\parameters\uri\userId.yaml
  responses:
    '200':
      $ref: >-
        ..\components\responses\GetUserAccountResponse.yaml
    '404':
      $ref: >-
        ..\..\modules\core\schemas\errors\404.yaml
    '500':
      $ref: >-
        ..\..\modules\core\schemas\errors\500.yaml
